{{#mdl-nav title='Babel' fixedHeader=true scrollHeader=true fixedDrawer=false includeDrawer=false}}
  {{mdl-nav-item name='Calls'     route='calls' inDrawer=false}}
  {{mdl-nav-item name='Tickets'   route='tickets' inDrawer=false}}  
  <div class="mdl-grid">  	
	{{outlet}}
  </div>
{{/mdl-nav}}