{{#mdl-card title=ticket.title class="mdl-cell mdl-cell--12-col"}}
  <div class="mdl-card__supporting-text">
  	{{mdl-textfield label='Username' value=username class="mdl-cell mdl-cell--12-col"}}
    {{mdl-textfield label='Mobile' value=mobile class="mdl-cell mdl-cell--12-col"}}
    {{mdl-textfield label='FreshDesk URL' value=freshdeskUrl class="mdl-cell mdl-cell--12-col"}}

    {{#mdl-button action="login" isRaised=true}}Login{{/mdl-button}}
  </div>  
{{/mdl-card}}